/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 0 0 1% 1.4%;
}

.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1; /* For IE 6/7 */
}
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}
.span_11_of_12 {
	width: 91.55%;
}
.span_10_of_12 {
	width: 83.1%;
}
.span_9_of_12 {
	width: 74.65%;
}
.span_8_of_12 {
	width: 66.2%;
}
.span_7_of_12 {
	width: 57.75%;
}
.span_6_of_12 {
	width: 49.3%;
}
.span_5_of_12 {
	width: 40.85%;
}
.span_4_of_12 {
	width: 32.4%;
}
.span_3_of_12 {
	width: 23.95%;
}
.span_2_of_12 {
	width: 15.5%;
}
.span_1_of_12 {
	width: 7.05%;
}


.nota_foto{
	width:35%; float:left; display:block; margin:0.5% 0.25% 0.5% 0.5%; padding:0.5%;
}
.nota_txt{
	width:61.5%; float:left; display:block; margin:0.5% 0.5% 0.5% 0.25%; padding:0.5%;
}



/* MEDIA QUERIES ----------------------------------------------------------------*/
/* Large desktop */
@media (min-width: 1281px) {
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1280px) {
}
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
.nota_foto{
	width:35%; float:left; display:block; margin:0.5% 0.25% 0.5% 0.5%; padding:0.5%;
}
.nota_txt{
	width:61.5%; float:left; display:block; margin:0.5% 0.5% 0.5% 0.25%; padding:0.5%;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px auto;
}

.col {
	display: block;
	float: left;
	margin: 1%;
}

.col:first-child {margin-left: 1%;}

.span_12_of_12 {width: 98%;}
.span_11_of_12 {width: 98%;}
.span_10_of_12 {width: 98%;}
.span_9_of_12 {width: 98%;}
.span_8_of_12 {width: 98%;}
.span_7_of_12 {width: 98%;}
.span_6_of_12 {width: 48%;}
.span_5_of_12 {width: 48%;}
.span_4_of_12 {width: 48%;}
.span_3_of_12 {width: 48%;}
.span_2_of_12 {width: 48%;}
.span_1_of_12 {width: 48%;}
}
/* Landscape phones and down */
@media only screen and (max-width: 480px) {
.nota_foto{
	width:98%; display:block; margin:0.5%; padding:0.5%;
}
.nota_txt{
	width:98%; display:block; margin:0.5%; padding:0.5%;
}



.col {margin: 0 0 1% 0%;}

.span_12_of_12 {width: 100%;}
.span_11_of_12 {width: 100%;}
.span_10_of_12 {width: 100%;}
.span_9_of_12 {width: 100%;}
.span_8_of_12 {width: 100%;}
.span_7_of_12 {width: 100%;}
.span_6_of_12 {width: 100%;}
.span_5_of_12 {width: 100%;}
.span_4_of_12 {width: 100%;}
.span_3_of_12 {width: 100%;}
.span_2_of_12 {width: 100%;}
.span_1_of_12 {width: 100%;}
}