<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='styles.css' />
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
</head>
<body>
<div id='cssmenu'>
<ul>
   <li><a href='index.php'><span>Inicio</span></a></li>
   <li><a href='#'><span>Nosotros</span></a></li>
   <li><a href='#'><span>Noticias</span></a></li>
   <li class='has-sub'><a href='#'><span>Salones</span></a>
      <ul>
         <li><a href='#'><span>Nacionales</span></a></li>
         <li class='last'><a href='#'><span>Internacionales</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>Actividades</span></a>
      <ul>
         <li><a href='#'><span>Eventos</span></a></li>
         <li><a href='#'><span>Muestras</span></a></li>
         <li><a href='#'><span>Cursos</span></a></li>
         <li class='last'><a href='#'><span>Concursos</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>Socios</span></a>
      <ul>
         <li><a href='#'><span>Críticas</span></a></li>
         <li class='last'><a href='#'><span>Galerías</span></a></li>
      </ul>
   </li>
   <li class='last'><a href='#'><span>Asociate</span></a></li>
</ul>
</div>
</body>
</html>