/* CSS Document */
/* TEXTOS ----------------------------------------------------------------*/
body {
	line-height: normal;
	font-size:13px;
	background-color:#000;
	color:#000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;

	background-image: url(../images/bg.gif);
	background-repeat:repeat;
}
a:focus {
	outline: 1px dotted invert;
}
a {
	text-shadow:1px 1px 1px #000;
	filter:dropshadow(color=#000, offx=1, offy=1);
}
/*
hr {
	border-color: #000;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}
*/

/* =Headings
--------------------------------------------------------------------------------*/
h1 {font-size: 48pt;}
h2 {font-size: 36pt;}
h3 {font-size: 30pt;}
h4 {font-size: 24pt;}
h5 {font-size: 18pt;}
h6 {font-size: 14pt;}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Jim Nightshade', cursive;
	color: #FFF;
	text-shadow:2px 2px 2px #000;
	filter:dropshadow(color=#000, offx=2, offy=2);
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

/* =ESTRUCTURA PRINCIPAL
--------------------------------------------------------------------------------*/
#wrapper {
	margin: 0 auto;
	background-color: rgba(000, 000, 000, 0.75);
}
header {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	overflow:visible;
	/*background-color:#710404;*/
}

.header_cont{
	width:1186px;
	margin:0 auto;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	overflow:auto;
}

#contenido {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	background-color: rgba(000, 000, 000, 0.75);
	width: 1200px;
	margin: 0px auto;
}
footer {
	width: 1200px;
	margin: 0px auto;
}


.img_izquierda {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.img_derecha {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}


.over_menu {

}
#menu_izq {
}
#menu_izq ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu_izq ul li {
	float: left;
	display: block;
	border-right: 6px solid #000;
	background-color: #CC3;
	padding: 5px;
	margin-bottom: 1px;
	width: 90%;
}
#menu_izq ul li:hover {
	border-right: 6px solid #666;
	background-color: #CC9;
}

/* =FORMATO DE NOTICIAS
--------------------------------------------------------------------------------*/
.note_cnt{
	float:left; padding:1% 1% 2% 1%; display:block; width:98%;
	border-radius:5px;
}
.img_cnt{
	border-radius:8px; overflow:hidden; width:200px; height:200px; border:1px solid #CCC; float:left; margin-right:10px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}





/* =CONTENEDOR INTERNO DE CELDAS
--------------------------------------------------------------------------------*/
.cl{
	margin: 10px;
	padding: 10px;
	display: block;

	border-radius:			5px;
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
	-khtml-border-radius: 	5px;
	overflow:auto;
	
	box-shadow: inset 0px 0px 5px #000; 
	border:1px solid #FFF;
}

.cl_wh{
	background-color:#FFF;	
}
.cl_bg1{
	background-image: url(../images/wood_1.png);
}
.cl_bg2{
	background-image: url(../images/bg_not.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}
.cl_bg3{
	background-image: url(../images/bg_wood.jpg);
}



.cl_cont_social{
	float: left;
	display: block;
	border:3px solid #FFF;
	width:98%;
	min-height:30px;
	overflow:hidden;
	
	border-radius:			10px;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	-khtml-border-radius: 	10px;
	overflow:auto;
	
	background-image: url(../images/bg_not.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	
	box-shadow: inset 0px 0px 15px #000; 
}

.cl_social{
	margin: 10px;
	padding: 10px;
	overflow:hidden;
	height:20px;
}

.cl_pub{
	margin: 10px;
	padding: 0px;
	display: block;

	border-radius:			5px;
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
	-khtml-border-radius: 	5px;
	overflow:auto;
	
	text-align:center;
	background-color:#FFF;
	border:1px solid #FFF;
}
















/* MEDIA QUERIES ----------------------------------------------------------------*/
/* Large desktop */
@media (min-width: 1281px) {
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1280px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
/* Landscape phones and down */
@media (max-width: 480px) {
}
